<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>MY APP</title>
  </head>
  <body>
    <h1>Login</h1>
      <input type="text" placeholder="username" name="name" id="username"/>
      <input type="text" placeholder="password" name="quote" id = "password"/>
      <button type="submit">Enter</button>

    <h2>May Node and Express be with you.</h2>
    <form action="/quotes" method="POST" id="add-quote-form">
      <input type="text" placeholder="name" name="name" id="name"/>
      <input type="text" placeholder="quote" name="quote" id = "quote"/>
      <button type="submit">Submit</button>
    </form>
    
    <h3>Quotes</h3>
    <table class="table" id="quotes">
      <thead>
          <tr>
              <th></th>
              <th></th>
              <th></th>
          </tr>
      </thead>
      <tbody>
        <% for(var i = 0; i < quotes.length; i++) {%>
        <tr>
            <td class="name"><%= quotes[i].name %>: <%= quotes[i].quote %></td>
            <td class="edit-button"><button data-quote-id=<%= quotes[i].id %> data-quote-name=<%= quotes[i].name %> data-quote-quote=<%= quotes[i].quote %>>...</button></td>
            <td class="delete-button"><button data-quote-id=<%= quotes[i].id %>>x</button></td>
            
        </tr>
        <% } %>
      </tbody>
    </table>

    <script src="/main.js"></script>

  </body>
</html>